/* .mouseover{
    position: relative;
    cursor: pointer;
    background-color: #f1f1f1;
    border: solid 1px #ccc;
    box-sizing: border-box;
} */

/* .mouseover ::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
} */

.once-modal-0808{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000000000;
    background-color: #333;
    opacity: 0.3
}

.once-modal-0808.hide{
    display: none;
}